/* colour pallette for riverside catering */

/* uses tachyons style colour naming */

/* brand blue-grey */
.br-blue-grey { color: #363A4C; }
.br-bg-blue-grey { background-color: #363A4C; }
.br-b--blue-grey { border-color: #363A4C; }
.br-hover-blue-grey:hover,
.br-hover-blue-grey:focus { color: #363A4C; }
.br-hover-bg-blue-grey:hover,
.br-hover-bg-blue-grey:focus { background-color: #363A4C; }

/* brand green */
.br-green { color: #95C11F; }
.br-bg-green { background-color: #95C11F; }
.br-b--green { border-color: #95C11F; }
.br-hover-green:hover,
.br-hover-green:focus { color: #95C11F; }
.br-hover-bg-green:hover,
.br-hover-bg-green:focus { background-color: #95C11F; }

/* brand blue */
.br-blue { color: #2D2E83; }
.br-bg-blue { background-color: #2D2E83; }
.br-b--blue { border-color: #2D2E83; }
.br-hover-blue:hover,
.br-hover-blue:focus { color: #2D2E83; }
.br-hover-bg-blue:hover,
.br-hover-bg-blue:focus { background-color: #2D2E83; }

/* brand orange */
.br-orange { color: #F39200; }
.br-bg-orange { background-color: #F39200; }
.br-b--orange { border-color: #F39200; }
.br-hover-orange:hover,
.br-hover-orange:focus { color: #F39200; }
.br-hover-bg-orange:hover,
.br-hover-bg-orange:focus { background-color: #F39200; }

/* brand red */
.br-red { color: #AA154A; }
.br-bg-red { background-color: #AA154A; }
.br-b--red { border-color: #AA154A; }
.br-hover-red:hover,
.br-hover-red:focus { color: #AA154A; }
.br-hover-bg-red:hover,
.br-hover-bg-red:focus { background-color: #AA154A; }
