<section class="pv3 bg-grey-20">
  <div class="mw8 center flex flex-column flex-row-m flex-row-l justify-between">
    <div class="ma3 w-25-m w-25-l">
      <p class="f4">About us</p>
      <ul class="lh-copy list pl0">
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/our-food">Our food</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/our-suppliers">Our suppliers</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/training">Training</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/team">Meet the team</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/jobs">Working for us</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/environment">Environment</a>
        </li>
      </ul>
    </div>
    <div class="ma3 w-25-m w-25-l">
      <p class="f4">Schools</p>
      <ul class="lh-copy list pl0">
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/services">Our services</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/hospitality">Hospitality</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/specialist">Specialist catering</a>
        </li>
      </ul>
    </div>
    <div class="ma3 w-25-m w-25-l">
      <p class="f4">Parents</p>
      <ul class="lh-copy list pl0">
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/why">Why eat a school lunch</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/menu-primary">Menu - primary</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/menu-secondary">Menu - secondary</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/free-meals">Free school meals</a>
        </li>
      </ul>
    </div>
    <div class="ma3 w-25-m w-25-l">
      <p class="f4">Get in touch</p>
      <ul class="lh-copy list pl0">
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/contact">Contact</a>
        </li>
        <li class="mb2">
          <a class="link br-blue hover dim" href="{{%20site.baseurl%20}}/riverside-catering/menu-primary">Telephone: 01709 822311</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<footer class="pv3 bg-grey-70">
  <div class="mw8 center mt3 flex flex-column items-center tc">
    <img class="mw4" src="https://rothgov.github.io/images/rmbc-logo-rev.svg">
    <p class="mh3 mt4 mb3 f7 grey-30 lh-copy">&copy; 2018 - Riverside Catering is a traded service from Rotherham MBC</p>
  </div>
</footer>
