<header class="bg-grey-10">
  <nav class="cf mw8 center">
    <ul class="list pa0 ma0 flex flex-row flex-wrap justify-start justify-between-m justify-between-l">
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/" title="Home">Home</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="#home" title="About">About</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="#schools" title="Schools">Schools</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="#parents" title="Parents">Parents</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="/contact" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<section class="ph3 bg-grey-20">
  <div class="pv3 mw8 center flex flex-column flex-row-m flex-row-l items-center justify-around tc tl-m tl-l">
    <h1 title="Riverside Catering"><img class="w4 ph4" src="https://rothgov.github.io/riverside-catering/images/riverside-catering-logo.svg"></h1>
    <p class="ph4 f4 f3-m f2-l w-75-m w-75-l lh-copy mv0">Professional catering services for schools and academies.</p>
  </div>
</section>
