<header class="bg-grey-10">
  <nav class="cf mw8 center">
    <ul class="list pa0 ma0 flex flex-row flex-wrap justify-start justify-between-m justify-between-l">
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/" title="Home">Home</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/#about" title="About">About</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/#schools" title="Schools">Schools</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/#parents" title="Parents">Parents</a>
      </li>
      <li>
        <a class="mh3 dib fl pv3 f5 f4-m f4-l b grey-90 no-underline" href="{{%20site.baseurl%20}}/riverside-catering/contact" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
