/* colours for crowden oec */

.br-purple { color: #844D8E; }
.bg-br-purple { background-color: #844D8E; }
.b--br-purple { border-color: #844D8E; }
.hover-br-purple:hover,
.hover-br-purple:focus { color: #844D8E; }
.hover-bg-br-purple:hover,
.hover-bg-br-purple:focus { background-color: #844D8E; }

.br-blue { color: #1F9FAB; }
.bg-br-blue { background-color: #1F9FAB; }
.b--br-blue { border-color: #1F9FAB; }
.hover-br-blue:hover,
.hover-br-blue:focus { color: #1F9FAB; }
.hover-bg-br-blue:hover,
.hover-bg-br-blue:focus { background-color: #1F9FAB; }

.br-green { color: #AEBD3C; }
.bg-br-green { background-color: #AEBD3C; }
.b--br-green { border-color: #AEBD3C; }
.hover-br-green:hover,
.hover-br-green:focus { color: #AEBD3C; }
.hover-bg-br-green:hover,
.hover-bg-br-green:focus { background-color: #AEBD3C; }

.br-grey { color: #5E6F7E; }
.bg-br-grey { background-color: #5E6F7E; }
.b--br-grey { border-color: #5E6F7E; }
.hover-br-grey:hover,
.hover-br-grey:focus { color: #5E6F7E; }
.hover-bg-br-grey:hover,
.hover-bg-br-grey:focus { background-color: #5E6F7E; }
